In [1]:
import numpy as np
import pandas as pd
import csv

In [2]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

## Method Description

Method Used - Linear ridge regression

- best1 error attained = 9.41606
- regularization parameter = 5.0

Method Used - Linear least squares regression
- best2 error attained = 9.41759



Additional Methods 
- Method Used  -  Random Forrests Regression
    - best error = 20.07780
    - No. of trees = 100
    - max depth = 10


This maybe because the model was able to reduce the error to as minimum as possible and also penalising the model with regularization parameter and hence was able to generalize the data well when compared to model 2

Better accuracy can be attained with gradient boosting regression or by using neural net

as in method one, it used many weak classifiers to make one strong classifier wheras in neural net, it can understand relationships between the attributes and give a better prediction with lesser error

## Train_data filtering

In [49]:
train_data = pd.read_csv('train.csv')
train_data.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [50]:
labels = train_data['fare_amount']
labels.head()

0     4.5
1    16.9
2     5.7
3     7.7
4     5.3
Name: fare_amount, dtype: float64

In [51]:
times = train_data['pickup_datetime']
times.head()

0    2009-06-15 17:26:21 UTC
1    2010-01-05 16:52:16 UTC
2    2011-08-18 00:35:00 UTC
3    2012-04-21 04:30:42 UTC
4    2010-03-09 07:51:00 UTC
Name: pickup_datetime, dtype: object

In [52]:
train_data = train_data.drop(['fare_amount','key','pickup_datetime'],axis=1)

In [53]:
train_data = train_data.fillna(0)
train_data = train_data.values
train_data = train_data[:10000000]
labels = labels[:10000000]

In [54]:
(train_data).dtype
train_data = train_data.astype(int)
(train_data).dtype
labels = labels.astype(int)

## Test_data

In [55]:
test_data = pd.read_csv('test.csv')
test_data.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

In [56]:
test_keys = test_data['key']
test_data = test_data.drop(['pickup_datetime', 'key'], axis = 1)

In [57]:
test_data.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,-73.973320,40.763805,-73.981430,40.743835,1
1,-73.986862,40.719383,-73.998886,40.739201,1
2,-73.982524,40.751260,-73.979654,40.746139,1
3,-73.981160,40.767807,-73.990448,40.751635,1
4,-73.966046,40.789775,-73.988565,40.744427,1

## Model Fitting

In [12]:
regr = linear_model.LinearRegression()

In [13]:
regr.fit(train_data, labels)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
regr.score(train_data, labels)

0.00024337558801401649

In [37]:
train_data.shape
# labels.shape

(10000000, 5)

## Ri

In [62]:
from sklearn.linear_model import Ridge

clf = Ridge(alpha=5.0)
clf.fit(train_data, labels)

Ridge(alpha=5.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [64]:
outputs = clf.predict(test_data)

In [16]:
submission_format = pd.read_csv('sample_submission.csv')
submission_format.head()

                           key  fare_amount
0  2015-01-27 13:08:24.0000002        11.35
1  2015-01-27 13:08:24.0000003        11.35
2  2011-10-08 11:53:44.0000002        11.35
3  2012-12-01 21:12:12.0000002        11.35
4  2012-12-01 21:12:12.0000003        11.35

In [65]:
out_nb = open('taxiFare.csv','w')
out_nb.write("key,fare_amount\n")
for x in range(0,len(outputs)):
    out_nb.write(str(test_keys[x])+','+str(float(outputs[x])))
    out_nb.write("\n")
out_nb.close()