In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
data = pd.read_csv("iris.data", sep = ",", header = None)
data.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [35]:
data.T[0:4].T.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9    3  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4    5  3.6  1.4  0.2

In [73]:
train_data = data.T[0:4].T
train_data = train_data.values
train_data = np.asarray(train_data)

train_data = np.array(train_data).astype(float)
train_mean = train_data.mean(0)
cov = np.matmul((train_data - train_mean), (train_data - train_mean).T)

In [74]:
print cov

[[ 7.312104    7.23777067  7.711504   ... -4.712096   -5.08202933
  -3.830496  ]
 [ 7.23777067  7.45343733  7.86717067 ... -4.81642933 -5.32636267
  -3.81482933]
 [ 7.711504    7.86717067  8.370904   ... -5.102696   -5.49262933
  -3.971096  ]
 ...
 [-4.712096   -4.81642933 -5.102696   ...  3.153704    3.46377067
   2.455304  ]
 [-5.08202933 -5.32636267 -5.49262933 ...  3.46377067  4.15383733
   2.86537067]
 [-3.830496   -3.81482933 -3.971096   ...  2.455304    2.86537067
   2.166904  ]]